/c#.netcode/VMware.VCDRService_legacy/bin
/c#.netcode/VMware.VCDRService_legacy/obj
/c#.netcode/.vs
/c#.netcode/VCDRTest/Properties/launchSettings.json
c\#.netcode/VCDRTest/VCDRTest.csproj.user
c\#.netcode/VCDRTest/VCDRTest.csproj.user
